langchain
langchain_groq
langchain_huggingface
langchain_community
python-dotenv
pyyaml
chroma-hnswlib
tiktoken
sentence-transformers
torch
streamlit
sentence-transformers
fastapi
uvicorn
chromadb
weaviate
weaviate-client
langchain_classic
openai
anthropic